default interface {{ interface }}
interface {{ interface }}
description {{ description }}
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk native vlan {{ native_vlan }}
switchport trunk allowed vlan {{ allowed_vlan }}
power inline auto
end

